/* General */
@media screen and (min-width: 993px) {
  .container {
    width: 60%;
  }  
}

@font-face {
  font-family: MyCustomFont;
  src: local("微軟正黑體");
  unicode-range: U+4E00-9FFF;
}

html {
  font-family: MyCustomFont, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

::placeholder {
  font-size: 18px;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: none;
  box-shadow: none;
}

.center{
  display: flex;
  justify-content: space-evenly;
}

/* Navbar */
nav .brand-logo {
  font-size: 42px;
}

nav ul a {
  font-size: 18px;
}

nav ul a.authbar {
  font-size: 16px;
  color: lightgray;
  padding: 0 10px;
}

nav ul a.authbar:hover{
  color: white;
  background-color: #039be5;
/* override hover color change */
}

nav a.dropdown-trigger.page-selector {
  float:right;
  margin-right: 15px;
}

nav a.dropdown-trigger.auth-selector {
  float:left;
  margin-left: 15px;
}

@media screen and (min-width: 993px) {
  nav a.dropdown-trigger {
    display: none;
  }  
}

.dropdown-content li > a {
  color: #039be5;
}


/* greeting */
.greeting {
  margin-top: 10px;
  text-align: right;
  margin-right: 20px;
  font-size: 20px;
}

/* Add Task button */
.addItem {
  margin: 10px auto 30px auto;
}

.addButton {
  text-align: center;
}

.loginbtn {
  margin-top: 40px;
}

.addicon {
  vertical-align: middle;
  position: relative;
  top: -1px;
}

/* input Task */
.input-field.col label {
  font-size: 24px;
  font-weight: 500;
  color: black;
  top: -5px;
}

.input-field.col label span {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.btn.inputForm {
  margin: 0 15px 10px 0;
}

[type="checkbox"].filled-in:checked + span:not(.lever):before, 
[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  top:5px;
}
[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #0288d1;
  background-color: #0288d1;
  top:5px;
}

/* Login */
.row .col.colcenter{
  float: none;
  margin: 0 auto;
}

/* Todo List */
.collection {
  border: 1px solid #bdbdbd;
  font-size: 20px;
}

.collection .collection-item {
  border-bottom: 1px solid #bdbdbd;
  padding: 0;
}

.todoItem {
  padding:20px 25px;
  position: relative;
}

.todoItem [type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid grey;
  background-color: grey;
}

.listIcon {
  margin-top:5px;
  font-size:16px;
}

.taskCount {
  font-size: 16px;
  color: grey;
  padding:0 0 10px 0;
}

[type="checkbox"] + span:not(.lever)  {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  
}

@media screen and (max-width: 650px) {
  [type="checkbox"] + span:not(.lever) {
    max-width: 211px;
  }  
}

label {
  color: black;
}

.completedTitle, input[type=text]:not(.browser-default).taskTitle.completed {
  color: grey;
  text-decoration: line-through;
}

.modifyicon {
  display: inline-flex;
  justify-content: space-between;
  width:100px;
  position: relative;
  right: 3px;
}

i.material-icons.pointer {
  color: #757575;
}

i.material-icons.pointer:hover {
  cursor: pointer;
}

i.material-icons.important {
  color: #f9a825;
}

.iconinfo {
  display: inline-block;
  margin: 0 15px 5px 0;
  min-width: 160px;
}

i.material-icons.list {
  font-size: 22px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  right: 2px;
  margin-right: 5px;

}

span.badge {
  position: absolute;
  top: 25px;
  right: 25px;
}

/* react datepicker */

.react-datepicker__input-container input::placeholder {
  font-size: 18px;
}

.file-path::placeholder {
  font-size: 18px;
}

.preloader-wrapper {
  left: 47%;
  top: 70px;
}

/* SearchBox */
.search-wrapper {
  height: 36px;
  position: relative;
}

input.search-field {
  width: 200px;
  height: 100%;
  position: absolute;
  right: 0;
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
  border: 0;
  border-radius: 5px;
  padding: 8px 8px 8px 60px;
  background: #f5f4f4;
  transition: background 0.5s;
}

input.search-field::placeholder {
  color: rgba(0, 0, 0, 0.54);
}

input.search-field:hover {
  background: #ebebeb;
}

input.search-field:focus {
  outline: none;
  color: #212121;
}

.search-icon {
  position: absolute;
  right: 160px;
  top: 7px;
  color: rgba(0, 0, 0, 0.54);
}